body {
  background-color: #65aac3;
  margin: 0;
  bottom: 0;
  font-family: "Roboto", sans-serif;
}

* {
  border: 1px solid blue;
}

html {
  height: 100%;
}

body {
  height: 100%;
}
main {
  height: 100%;
}

#game-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-intro .logo-holder {
  text-align: center;
}
#game-intro .logo-holder .logo {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 100px;
  margin-top: -10px;
  margin-bottom: 75px;
}

#game-intro .logo-holder .play-button {
  display: inline-block;
  background-color: #4b5380;
  border: 4px solid #fff;
  border-radius: 100px;
  color: #fff;
  width: 200px;
  height: 56px;
  font-size: 42px;
  text-align: center;
  font-weight: 900;
  letter-spacing: -3px;
  line-height: 56px;
  text-decoration: none;
}

#game-intro .logo-holder .play-button:hover {
  background-color: #646a8e;
}

#game-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: normal;
  align-content: stretch;
  height: 100%;
  background-image: url("./images/background-sky.png");
  background-size: cover; /* Ajustez la taille de l'image en fonction de vos besoins */
  background-repeat: no-repeat;
}

#stats {
  display: block;
  flex-grow: 1;
  height: 82px;
}
.logoHolder {
  height: 80px;
}

#score {
  font-size: 64px;
  font-weight: 800;
  color: #ffe345;
  letter-spacing: -8px;
  margin-left: 50px;
}

#game-screen {
  display: flex;
  flex-grow: 7;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;
  background-image: url("./images/grass-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#upperGame {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-end;
  height: 200px;
}

#dragonBox {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

#empty {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 1;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  text-shadow: 0px 2px 4px #131b50;
  margin-top: 140px;
  margin-left: 140px;
}

#lowerGame {
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  overflow: hidden;
  height: 350px;
}

.hidden {
  display: none !important;
}

.dragon {
  min-width: 300px;
  min-height: 300px;
  max-width: 300px;
  max-height: 300px;
  animation: bounce 1.6s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position: absolute;
  margin: 0 15%;
  z-index: 100;
}
.test {
  position: absolute;
  width: 150px;
  min-height: 300px;
  animation: bounce 1.6s infinite;
  transform: translateY(0px);
  outline: 2px solid red;
  left: calc(15% + 75px);
}

.test-tower {
  position: absolute;
  top: 165px;
  width: 60px;
  height: 300px;
  left: calc(15% + 95px);
  outline: 2px solid red;
}

.tower {
  position: absolute;
  top: 65px;
  width: 100px;
  height: 300px;
  left: 0;
}

.rightRoof.redVersion {
  fill: #dd3737;
}
.leftRoof.redVersion {
  fill: #ee8c18;
}

/* Blue Version Styles */
.rightRoof.blueVersion {
  fill: #18a1ee;
}
.leftRoof.blueVersion {
  fill: #37bfdd;
}

/* Yellow Version Styles */
.rightRoof.yellowVersion {
  fill: #c3a713;
}
.leftRoof.yellowVersion {
  fill: #ebe436;
}

/* Green Version Styles */
.rightRoof.greenVersion {
  fill: #87a655;
}
.leftRoof.greenVersion {
  fill: #b3bf45;
}

/* dragon colors*/
.bodyColor.redVersion {
  fill: #dd3737;
}
.wingsUnderBellyColor.redVersion {
  fill: #eadb8d;
}
.ombresColor.redVersion {
  fill: #bdb481;
}
.rayuresColor.redVersion {
  fill: #ee8c18;
}

.bodyColor.blueVersion {
  fill: #37bfdd;
}
.wingsUnderBellyColor.blueVersion {
  fill: #8deac3;
}
.ombresColor.blueVersion {
  fill: #6ccdcd;
}
.rayuresColor.blueVersion {
  fill: #18a1ee;
}

.bodyColor.yellowVersion {
  fill: #ebe436;
}
.wingsUnderBellyColor.yellowVersion {
  fill: #e6d05c;
}
.ombresColor.yellowVersion {
  fill: #bcab52;
}
.rayuresColor.yellowVersion {
  fill: #c3a713;
}

.bodyColor.greenVersion {
  fill: #b3bf45;
}
.wingsUnderBellyColor.greenVersion {
  fill: #ebecc4;
}
.ombresColor.greenVersion {
  fill: #c6caab;
}
.rayuresColor.greenVersion {
  fill: #87a655;
}

#game-end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Set a high z-index to ensure it appears above other elements */
  justify-content: center;
  background-color: #2162cb9a;
  width: 433px;
  height: 627px;
  border-radius: 38px;
  text-align: center;
}

#game-end h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  margin-top: 40px;
  margin-bottom: 4px;
  font-size: 64px;
}

#game-end .deadDragon {
  height: 250px;
  margin-bottom: -20px;
}

#game-end .final-score {
  color: #ffe345;
  font-weight: 900;
  font-size: 130px;
  letter-spacing: -6px;
  line-height: 110px;
  margin-bottom: 25px;
}

#game-end .best-score {
  color: #ffe345;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

#game-end h4 {
  color: #fff;
  margin-top: 12px;
}

#game-end #restart-button {
  background-color: #4b5380;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: -1px;
  font-size: 26px;
  padding: 6px 24px;
  border-radius: 22px;
  margin: 6px 4px;
  display: inline-block;
}

#game-end #restart-button:hover {
  background-color: lighten(#646a8e, 5%);
}

@keyframes bounce {
  0% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  40% {
  }
  50% {
    top: 300px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  55% {
    top: 160px;
    height: 120px;
    -webkit-animation-timing-function: ease-in;
  }
  65% {
    top: 120px;
    height: 140px;
    -webkit-animation-timing-function: ease-out;
  }
  95% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
  100% {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }
}
